/* tell the SVG path to be a thin blue line without any area fill */
#red {
	stroke: darkred;
	stroke-width: 2;
	/*fill: red;*/
	fill: none;
}

#green {
	/*fill: green;*/
	stroke: green;
	stroke-width: 2;
	fill: none;
}

#black {
	stroke: black;
	stroke-width: 2;
	fill: none;
}

/*path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}*/

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

svg{
	margin: 125px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

h1{
	text-align: center;
}